<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.FeedbackMapper">
    <resultMap id="BaseResultMap" type="com.baizhi.entity.Feedback">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, title, content, create_date, user_id
  </sql>
</mapper>